<% include ./partials/header.ejs %>         

<div class="ui main text container segment">
        <div class="ui huge header">Login</div>
        <form action="/login" enctype="multipart/form-data" method="POST" class="ui form">
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
                <input style="width: 100%; font-family: Lato, Helvetica;" type="submit" class="btn btn-secondary btn-lg" value="LOGIN"> 
        </form>
</div>

<% include ./partials/footer.ejs %>


